#equipments-nav {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 500px;
    position: fixed;
    right: 20px;
    top: 2.5%;
    background-color: #1E1E1E;
    z-index: 999;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
}

#equipments-nav > header {
    width: 100%;
    margin-bottom: 10px;
}

#equipments-nav > header > h1 {
    font-size: 20px;
    color: white;
    margin: 0;
}

#equipments-nav > article {
    height: 100%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    padding: 3px;
}

#equipments-nav > article > div.equipment {
    width: 100%;
    display: flex;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    padding: 3px 10px;
    gap: 10px;
}

#equipments-nav > article > div.equipment > div.equipment-name {
    width: 100%;
}

#equipments-nav > article > div.equipment p {
    margin: 0;
    font-size: 1.1rem;
}

#equipments-nav > article > div.equipment b {
    color:#585858;
    padding: 0 5px;
}

#equipments-nav > article > div.equipment > div.equipment-infos {
    display: flex;
    width: 100%;
}

#equipments-nav > article > div.equipment > div.equipment-infos section {
    width: 100%;
}

#equipments-nav > button.toggle-all-button {
    height: 50px;
    background-color: #003184;
    border-radius: 10px;
    padding: 5px 12px;
    color: #fff;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}